
body{
    background-color: #cccccc;
}
.brand-image{
    height: 80px;
    width: auto;
    z-index: 100;
    position: absolute;
}
.navbar-brand{
    height: 45px;
    width: 90px;
    overflow: visible;
}
.carousel-caption{
    left: 0 !important;
    right: 0 !important;
    background: rgba(0, 0, 0, 0.7);
}
.input-group-text{
    width: 40px !important;
}
.show{
    display: block !important;
    background: rgba(0, 0, 0, 0.6);
}

.cursor-pointer:hover{
    cursor: pointer;
}

.hover-highlight:hover{
    background-color: #e8e8e8 !important;
}

.info-logo{
    width: 100%;
    border-radius: 30%;
    border: solid 1px black;
}
.description-text{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 18px;
}
/******************** Media queries ******************** */

@media screen and (max-width: 576px) {
    .brand-image{
        height: 60px;
        width: auto;
        z-index: 100;
    }
    .navbar-brand{
        height: 35px;
        overflow: visible;
    }
    .description-text{
        font-size: 12px;
    }

}
